openapi: 3.1.0
info:
  contact:
    email: developer.overheid@geonovum.nl
    name: Team developer.overheid.nl
    url: https://apis.developer.overheid.nl
  description: API van het API register (apis.developer.overheid.nl)
  title: API register API v1
  version: 1.0.0
servers:
- url: https://api.developer.overheid.nl/apis/v1
tags:
- description: Alle API operaties die horen bij API's.
  name: API's
paths:
  /apis:
    get:
      description: Alle API's ophalen
      operationId: listApis
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Api'
                type: array
          description: OK
          headers:
            API-Version:
              description: Semver of this API
              explode: false
              schema:
                example: 1.0.0
                externalDocs:
                  description: " /core/version-header: Return the full version number\
                    \ in a response header"
                  url: https://logius-standaarden.github.io/API-Design-Rules/#/core/version-header
                pattern: "^(0|[1-9]\\d*)\\.(0|[1-9]\\d*)\\.(0|[1-9]\\d*)(?:-((?:0|[1-9]\\\
                  d*|\\d*[a-zA-Z-][0-9a-zA-Z-]*)(?:\\.(?:0|[1-9]\\d*|\\d*[a-zA-Z-][0-9a-zA-Z-]*))*))?(?:\\\
                  +([0-9a-zA-Z-]+(?:\\.[0-9a-zA-Z-]+)*))?$"
                type: string
              style: simple
            Link:
              description: "Links to the previous, next, last or first pages"
              explode: false
              schema:
                example: "<https://developer.overheid.nl/api/v1/apis?page=2>; rel='prev',\
                  \ <https://developer.overheid.nl/api/v1/apis?page=3>; rel='next'"
                externalDocs:
                  description: W3C reference
                  url: https://www.w3.org/wiki/LinkHeader
                type: string
              style: simple
      summary: Alle API's ophalen
      tags:
      - API's
  /apis/{id}:
    get:
      description: API ophalen
      operationId: retrieveApi
      parameters:
      - $ref: '#/components/parameters/id'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Api'
          description: OK
          headers:
            API-Version:
              description: Semver of this API
              explode: false
              schema:
                example: 1.0.0
                externalDocs:
                  description: " /core/version-header: Return the full version number\
                    \ in a response header"
                  url: https://logius-standaarden.github.io/API-Design-Rules/#/core/version-header
                pattern: "^(0|[1-9]\\d*)\\.(0|[1-9]\\d*)\\.(0|[1-9]\\d*)(?:-((?:0|[1-9]\\\
                  d*|\\d*[a-zA-Z-][0-9a-zA-Z-]*)(?:\\.(?:0|[1-9]\\d*|\\d*[a-zA-Z-][0-9a-zA-Z-]*))*))?(?:\\\
                  +([0-9a-zA-Z-]+(?:\\.[0-9a-zA-Z-]+)*))?$"
                type: string
              style: simple
        "404":
          description: Resource does not exist
          headers:
            API-Version:
              description: Semver of this API
              explode: false
              schema:
                example: 1.0.0
                externalDocs:
                  description: " /core/version-header: Return the full version number\
                    \ in a response header"
                  url: https://logius-standaarden.github.io/API-Design-Rules/#/core/version-header
                pattern: "^(0|[1-9]\\d*)\\.(0|[1-9]\\d*)\\.(0|[1-9]\\d*)(?:-((?:0|[1-9]\\\
                  d*|\\d*[a-zA-Z-][0-9a-zA-Z-]*)(?:\\.(?:0|[1-9]\\d*|\\d*[a-zA-Z-][0-9a-zA-Z-]*))*))?(?:\\\
                  +([0-9a-zA-Z-]+(?:\\.[0-9a-zA-Z-]+)*))?$"
                type: string
              style: simple
      summary: API ophalen
      tags:
      - API's
    parameters:
    - $ref: '#/components/parameters/id'
components:
  parameters:
    id:
      description: id
      explode: false
      in: path
      name: id
      required: true
      schema:
        type: string
      style: simple
    PaginationPage:
      description: A page number within the paginated result set.
      explode: true
      in: query
      name: page
      required: false
      schema: {}
      style: form
  schemas:
    Api:
      example:
        docsUri: docsUri
        auth: auth
        environments:
        - api_url: https://openapi-generator.tech
          name: production
          specification_url: https://openapi-generator.tech
          documentation_url: https://openapi-generator.tech
        - api_url: https://openapi-generator.tech
          name: production
          specification_url: https://openapi-generator.tech
          documentation_url: https://openapi-generator.tech
        repositoryUri: repositoryUri
        description: description
        organisation:
          label: label
          uri: uri
        adrScore: adrScore
        id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        type: type
        title: title
        oasUri: oasUri
      properties:
        id:
          format: uuid
          type: string
        type:
          type: string
        oasUri:
          type: string
        docsUri:
          type: string
        title:
          type: string
        description:
          type: string
        auth:
          type: string
        adrScore:
          type: string
        repositoryUri:
          type: string
        organisation:
          $ref: '#/components/schemas/Api_organisation'
        environments:
          items:
            $ref: '#/components/schemas/Api_environments_inner'
          type: array
    Api_organisation:
      example:
        label: label
        uri: uri
      properties:
        label:
          type: string
        uri:
          type: string
    Api_environments_inner:
      example:
        api_url: https://openapi-generator.tech
        name: production
        specification_url: https://openapi-generator.tech
        documentation_url: https://openapi-generator.tech
      properties:
        name:
          enum:
          - production
          - acceptance
          - demo
          type: string
        api_url:
          format: uri
          type: string
        specification_url:
          format: uri
          type: string
        documentation_url:
          format: uri
          type: string
