{
  "openapi": "3.0.3",
  "info": {
    "title": "API-register API v1",
    "description": "API van het API-register van developer.overheid.nl.\n\n## Untrusted clients (API-key)\n\nUntrusted clients hebben geen schrijfrechten maar wel leesrechten. Requests kunnen, ook vanuit de browser, eenvoudig gedaan worden door de verkregen API-key aan elke request mee te geven met de `X-Api-Key` header:\n\n  `X-Api-Key`: `{API_KEY}` (vervang `{API_KEY}` met de verkregen API-key)\n\n## Trusted clients (client-credentials flow)\n\nTrusted clientst hebben zowel schrijfrechten als leesrechten. Bij elke request moet er een `access_token`  meegestuurd worden. Deze token is 5 minuten geldig en kan verkregen worden door een `POST` request te doen naar `https://auth.developer.overheid.nl/realms/don/protocol/openid-connect/token` met de volgende Form URL Encoded body:\n\n- `grant_type`: `client_credentials`\n- `scope`: `apis:write apis:read organisations:read`\n- `client_id`: `{CLIENT_ID}` (vervang `{CLIENT_ID}` met de client id die je van ons hebt ontvangen\n- `client_secret`: `{CLIENT_SECRET}` (vervang `{CLIENT_SECRET}` met de client secret die je van ons hebt ontvangen\n\nDe verkregen `access_token` stuur je vervolgens op de volgende manier met de `Authorization` header naar een request mee:\n\n`Authorization`: `Bearer {ACCESS_TOKEN}` (vervang `{ACCESS_TOKEN}` met de verkregen `access_token`)\n\n## Paginering\n\nPaginering bij collecties vindt plaats door middel van de `Link` header. Er zijn verschillende libraries beschikbaar (zoals [parse-link-header](https://www.npmjs.com/package/parse-link-header) voor Javascript) die deze header kan parsen. Verder geven de volgende headers extra houvast om paginering in de client te implementeren: `X-Current-Page`, `X-Per-Page`, `X-Total-Count` en `X-Total-Pages`.\n",
    "version": "1.0.0",
    "contact": {
      "name": "Team developer.overheid.nl",
      "email": "developer.overheid@geonovum.nl",
      "url": "https://github.com/developer-overheid-nl/don-api-register/issues"
    }
  },
  "servers": [
    {
      "url": "https://api.developer.overheid.nl/api-register/v1",
      "description": "Productie"
    },
    {
      "url": "https://api-register.don.apps.digilab.network/api-register/v1",
      "description": "Test"
    }
  ],
  "paths": {
    "/apis": {
      "get": {
        "security": [
          {
            "apiKey": []
          },
          {
            "clientCredentials": ["apis:read"]
          }
        ],
        "tags": ["Publieke endpoints"],
        "summary": "Alle API's ophalen",
        "description": "Alle API's ophalen",
        "operationId": "listApis",
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "API-Version": {
                "$ref": "#/components/headers/API-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ApiSummary"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "security": [
          {
            "clientCredentials": ["apis:write"]
          }
        ],
        "tags": ["Private endpoints"],
        "summary": "Registreer een nieuwe API met een OpenAPI URL",
        "description": "Registreer een nieuwe API met een OpenAPI URL",
        "operationId": "createApi",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApiPost"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "headers": {
              "API-Version": {
                "description": "De API-versie van de response",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiSummary"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          }
        }
      }
    },
    "/apis/{id}": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "security": [
          {
            "apiKey": []
          },
          {
            "clientCredentials": ["apis:read"]
          }
        ],
        "tags": ["Publieke endpoints"],
        "summary": "Specifieke API ophalen",
        "description": "Specifieke API ophalen",
        "operationId": "retreiveApi",
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "API-Version": {
                "description": "De API-versie van de response",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiDetail"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/404"
          }
        }
      },
      "put": {
        "security": [
          {
            "clientCredentials": ["write"]
          }
        ],
        "tags": ["Private endpoints"],
        "summary": "Specifieke API updaten",
        "description": "Specifieke API updaten",
        "operationId": "updateApi",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApiPost"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "headers": {
              "API-Version": {
                "description": "De API-versie van de response",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiSummary"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "404": {
            "$ref": "#/components/responses/404"
          }
        }
      }
    },
    "/organisations": {
      "get": {
        "security": [
          {
            "apiKey": []
          },
          {
            "clientCredentials": ["organisations:read"]
          }
        ],
        "tags": ["Publieke endpoints"],
        "summary": "Alle organisaties ophalen",
        "description": "Alle organisaties ophalen",
        "operationId": "listOrganisations",
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "API-Version": {
                "$ref": "#/components/headers/API-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "organisations": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Organisation"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Contact": {
        "required": ["email", "name", "url"],
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "format": "email",
            "example": "developer.overheid@geonovum.nl"
          },
          "name": {
            "type": "string",
            "example": "Team developer.overheid.nl"
          },
          "url": {
            "type": "string",
            "format": "uri",
            "example": "https://github.com/developer-overheid-nl/don-api-register/issues"
          }
        }
      },
      "ApiDetail": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ApiSummary"
          },
          {
            "type": "object",
            "properties": {
              "auth": {
                "nullable": true,
                "type": "array",
                "items": {
                  "type": "string",
                  "example": "oauth2"
                }
              },
              "description": {
                "type": "string"
              },
              "docsUri": {
                "type": "string",
                "format": "uri",
                "example": "https://apis.developer.overheid.nl/apis/3fa85f64-5717-4562-b3fc-2c963f66afa6"
              },
              "servers": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Server"
                }
              }
            }
          }
        ]
      },
      "ApiSummary": {
        "required": ["contact", "title", "organisation", "adrScore"],
        "allOf": [
          {
            "$ref": "#/components/schemas/ApiPost"
          },
          {
            "type": "object",
            "properties": {
              "title": {
                "type": "string",
                "example": "API register API v1"
              },
              "description": {
                "type": "string",
                "example": "API van het API register (apis.developer.overheid.nl)"
              },
              "organisation": {
                "$ref": "#/components/schemas/Organisation"
              },
              "adrScore": {
                "type": "integer",
                "format": "int32",
                "nullable": true,
                "default": null
              },
              "lifecycle": {
                "type": "object",
                "properties": {
                  "status": {
                    "type": "string",
                    "enum": ["active", "deprecated", "sunset"]
                  },
                  "version": {
                    "type": "string",
                    "example": "1.0.0"
                  }
                }
              },
              "_links": {
                "type": "object",
                "properties": {
                  "self": {
                    "type": "object",
                    "properties": {
                      "href": {
                        "type": "string",
                        "format": "uri",
                        "example": "https://api.developer.overheid.nl/v1/apis/90szfOzDg"
                      }
                    }
                  }
                }
              }
            }
          }
        ]
      },
      "Server": {
        "required": ["url", "description"],
        "type": "object",
        "properties": {
          "url": {
            "type": "string",
            "format": "uri",
            "example": "https://api.developer.overheid.nl/v1"
          },
          "description": {
            "type": "string",
            "example": "Production"
          }
        }
      },
      "ApiPost": {
        "type": "object",
        "required": ["id", "organisationUri"],
        "anyOf": [{ "required": ["oasUrl"] }, { "required": ["oasBody"] }],
        "properties": {
          "id": {
            "type": "string",
            "example": "90szfOzDg",
            "readOnly": true
          },
          "oasUrl": {
            "type": "string",
            "format": "uri",
            "example": "https://api.developer.overheid.nl/api-register/v1/openapi.json"
          },
          "oasBody": {
            "type": "string",
            "description": "Inline OpenAPI spec (JSON of YAML)",
            "writeOnly": true
          },
          "arazzoUrl": {
            "type": "string",
            "format": "uri",
            "example": "https://api.developer.overheid.nl/api-register/v1/arazzo.yaml"
          },
          "arazzoBody": {
            "type": "string",
            "description": "Inline Arazzo spec (JSON of YAML)",
            "writeOnly": true
          },
          "organisationUri": {
            "type": "string",
            "format": "uri",
            "example": "https://identifier.overheid.nl/tooi/id/gemeente/gm0363",
            "writeOnly": true
          },
          "contact": {
            "$ref": "#/components/schemas/Contact"
          }
        }
      },
      "Organisation": {
        "required": ["label", "uri"],
        "type": "object",
        "properties": {
          "label": {
            "type": "string",
            "example": "Binnenlandse Zaken en Koninkrijksrelaties (BZK)"
          },
          "uri": {
            "type": "string",
            "format": "uri",
            "example": "https://identifier.overheid.nl/tooi/id/ministerie/mnre1034"
          },
          "_links": {
            "type": "object",
            "properties": {
              "apis": {
                "type": "object",
                "properties": {
                  "href": {
                    "type": "string",
                    "example": "/v1/apis?organisation=https://identifier.overheid.nl/tooi/id/ministerie/mnre1034"
                  }
                }
              }
            }
          }
        }
      }
    },
    "responses": {
      "400": {
        "$ref": "https://static.developer.overheid.nl/adr/components.yaml#/responses/400"
      },
      "404": {
        "$ref": "https://static.developer.overheid.nl/adr/components.yaml#/responses/404"
      }
    },
    "headers": {
      "API-Version": {
        "description": "De API-versie van de response",
        "schema": {
          "type": "string",
          "example": "1.0.0"
        }
      }
    },
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "name": "X-Api-Key",
        "in": "header"
      },
      "clientCredentials": {
        "type": "oauth2",
        "flows": {
          "clientCredentials": {
            "scopes": {
              "apis:read": "Leestoegang op API's",
              "apis:write": "Schrijftoegang op API's",
              "organisations:read": "Leestoegang op organisaties"
            },
            "tokenUrl": "https://auth.developer.overheid.nl/realms/don/protocol/openid-connect/token"
          }
        }
      }
    }
  },
  "security": [
    {
      "clientCredentials": []
    }
  ],
  "tags": [
    {
      "name": "Publieke endpoints",
      "description": "Publieke endpoints van het API-register, te benaderen met een API-key of client credentials token."
    },
    {
      "name": "Private endpoints",
      "description": "Private endpoints van het API-register, te benaderen met een client credentials token."
    }
  ]
}
