{
  "openapi": "3.1.0",
  "info": {
    "title": "API register API v1",
    "version": "1.0.0",
    "contact": {
      "email": "developer.overheid@geonovum.nl",
      "name": "Team developer.overheid.nl",
      "url": "https://github.com/developer-overheid-nl/don-api-register/issues"
    },
    "description": "API to access the API register of developer.overheid.nl.\n\n## Auth\n\nThis API distinguishes between public and private endpoints.\nPublic endpoints can be accessed with either an API key or a client credentials token.\nPrivate endpoints can only be accessed with a client credentials token.\n\n### API key\n\nUsing an API key, you can access all public endpoints of the API register.\nThese requests can also be made from the browser.\nRequest a read-only API key at https://apis.developer.overheid.nl/apis/key-aanvragen.\nSimply pass the obtained API key with each request using the `X-Api-Key` header.\n\n### Client credentials token\n\nUsing a client credentials token, you can access both public and private endpoints of the API register.\nTo obtain the token, you need to perform a `POST` request to `https://auth.developer.overheid.nl/realms/don/protocol/openid-connect/token` with the following Form URL Encoded body:\n- `grant_type`: `client_credentials`\n- `scope`: depending on the access you need and the client you are, you can request one or more of the following scopes:\n  - `apis:read`\n  - `apis:write`\n  - `organisations:read`\n  - `organisations:write`\n- `client_id`: the client id you received from us\n- `client_secret`: the client secret you received from us\n\nPass the obtained token with each request using the `Authorization` header. Example:\n\n`Authorization`: `Bearer {ACCESS_TOKEN}` (replace `{ACCESS_TOKEN}` with the obtained `access_token`)\n\n## Pagination\n\nPagination of collections is done using the `Link` header.\nThere are various libraries available (such as [parse-link-header](https://www.npmjs.com/package/parse-link-header) for Javascript) that can parse this header.\nAdditionally, the following headers provide extra support for implementing pagination in the client:\n- `Current-Page`: the current page in the collection\n- `Per-Page`: the number of items per page\n- `Total-Count`: the total number of items\n- `Total-Pages`: the total number of pages\n"
  },
  "servers": [
    {
      "description": "Production",
      "url": "https://api.developer.overheid.nl/api-register/v1"
    },
    {
      "description": "Test",
      "url": "https://api.don.apps.digilab.network/api-register/v1"
    }
  ],
  "security": [
    {
      "clientCredentials": []
    }
  ],
  "tags": [
    {
      "name": "APIs",
      "description": "Endpoints for listing and managing APIs."
    },
    {
      "name": "Organisations",
      "description": "Endpoints for listing and managing organisations."
    },
    {
      "name": "Public endpoints",
      "description": "Public endpoints, accessible with an API key or client credentials token."
    },
    {
      "name": "Private endpoints",
      "description": "Private endpoints of the API register, accessible with a client credentials token."
    }
  ],
  "paths": {
    "/apis": {
      "get": {
        "security": [
          {},
          {
            "apiKey": []
          },
          {
            "clientCredentials": [
              "apis:read"
            ]
          }
        ],
        "tags": [
          "Public endpoints",
          "APIs"
        ],
        "summary": "List APIs",
        "description": "Returns a list of APIs included in the register.",
        "operationId": "listApis",
        "parameters": [
          {
            "$ref": "#/components/parameters/Page"
          },
          {
            "$ref": "#/components/parameters/PerPage"
          },
          {
            "$ref": "#/components/parameters/Organisation"
          },
          {
            "name": "ids",
            "in": "query",
            "required": false,
            "description": "Comma-separated list of API IDs.",
            "schema": {
              "type": "string",
              "example": "dicF0B3HR,diC1D4EHR"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "API-Version": {
                "$ref": "#/components/headers/ApiVersion"
              },
              "Link": {
                "$ref": "#/components/headers/Link"
              },
              "Total-Count": {
                "$ref": "#/components/headers/TotalCount"
              },
              "Current-Page": {
                "$ref": "#/components/headers/CurrentPage"
              },
              "Per-Page": {
                "$ref": "#/components/headers/PerPage"
              },
              "Total-Pages": {
                "$ref": "#/components/headers/TotalPages"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ApiSummary"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          }
        }
      },
      "post": {
        "security": [
          {},
          {
            "clientCredentials": [
              "apis:write"
            ]
          }
        ],
        "tags": [
          "Private endpoints",
          "APIs"
        ],
        "summary": "Register API",
        "description": "Registers a new API in the register from its OpenAPI document.",
        "operationId": "createApi",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApiInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "headers": {
              "API-Version": {
                "$ref": "#/components/headers/ApiVersion"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiSummary"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          }
        }
      }
    },
    "/apis/_search": {
      "get": {
        "tags": [
          "Public endpoints",
          "APIs"
        ],
        "summary": "Search APIs",
        "description": "Returns a list of APIs matching the search query.",
        "operationId": "searchApis",
        "parameters": [
          {
            "$ref": "#/components/parameters/Page"
          },
          {
            "$ref": "#/components/parameters/PerPage"
          },
          {
            "$ref": "#/components/parameters/Organisation"
          },
          {
            "name": "q",
            "in": "query",
            "required": true,
            "description": "Search term.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "API-Version": {
                "$ref": "#/components/headers/ApiVersion"
              },
              "Link": {
                "$ref": "#/components/headers/Link"
              },
              "Total-Count": {
                "$ref": "#/components/headers/TotalCount"
              },
              "Current-Page": {
                "$ref": "#/components/headers/CurrentPage"
              },
              "Per-Page": {
                "$ref": "#/components/headers/PerPage"
              },
              "Total-Pages": {
                "$ref": "#/components/headers/TotalPages"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ApiSummary"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          }
        }
      }
    },
    "/lint-results": {
      "get": {
        "security": [
          {},
          {
            "clientCredentials": [
              "apis:read"
            ]
          }
        ],
        "tags": [
          "Private endpoints",
          "APIs"
        ],
        "summary": "List all lint results",
        "description": "Returns all stored lint results for registered APIs.",
        "operationId": "listLintResults",
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "API-Version": {
                "$ref": "#/components/headers/ApiVersion"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string"
                      },
                      "apiId": {
                        "type": "string"
                      },
                      "successes": {
                        "type": "boolean"
                      },
                      "failures": {
                        "type": "integer"
                      },
                      "warnings": {
                        "type": "integer"
                      },
                      "createdAt": {
                        "type": "string",
                        "format": "date-time"
                      },
                      "messages": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string"
                            },
                            "lintResultId": {
                              "type": "string"
                            },
                            "line": {
                              "type": "integer"
                            },
                            "column": {
                              "type": "integer"
                            },
                            "severity": {
                              "type": "string"
                            },
                            "code": {
                              "type": "string"
                            },
                            "createdAt": {
                              "type": "string",
                              "format": "date-time"
                            },
                            "infos": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "type": "string"
                                  },
                                  "lintMessageId": {
                                    "type": "string"
                                  },
                                  "message": {
                                    "type": "string"
                                  },
                                  "path": {
                                    "type": "string"
                                  }
                                },
                                "required": [
                                  "id",
                                  "lintMessageId",
                                  "message",
                                  "path"
                                ]
                              }
                            }
                          },
                          "required": [
                            "id",
                            "lintResultId",
                            "line",
                            "column",
                            "severity",
                            "code",
                            "createdAt"
                          ]
                        }
                      },
                      "rulesetVersion": {
                        "type": "string"
                      }
                    },
                    "required": [
                      "id",
                      "apiId",
                      "successes",
                      "failures",
                      "warnings",
                      "createdAt"
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          }
        }
      }
    },
    "/apis/{id}": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "description": "Unique identifier of the resource.",
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "security": [
          {},
          {
            "apiKey": []
          },
          {
            "clientCredentials": [
              "apis:read"
            ]
          }
        ],
        "tags": [
          "Public endpoints",
          "APIs"
        ],
        "summary": "Get API by id",
        "description": "Returns a single API by id.",
        "operationId": "retreiveApi",
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "API-Version": {
                "$ref": "#/components/headers/ApiVersion"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiDetail"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/404"
          }
        }
      },
      "put": {
        "security": [
          {},
          {
            "clientCredentials": [
              "apis:write"
            ]
          }
        ],
        "tags": [
          "Private endpoints",
          "APIs"
        ],
        "summary": "Update API",
        "description": "Updates an existing API by id. When no OAS document is supplied, only lifecycle fields can be changed.",
        "operationId": "updateApi",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApiUpdateInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "API-Version": {
                "$ref": "#/components/headers/ApiVersion"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiSummary"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "404": {
            "$ref": "#/components/responses/404"
          }
        }
      }
    },
    "/apis/{id}/postman": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "description": "Unique identifier of the resource.",
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "security": [
          {},
          {
            "apiKey": []
          },
          {
            "clientCredentials": [
              "apis:read"
            ]
          }
        ],
        "tags": [
          "Public endpoints",
          "APIs"
        ],
        "summary": "Download Postman collection",
        "description": "Returns the generated Postman JSON.",
        "operationId": "getPostman",
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "API-Version": {
                "$ref": "#/components/headers/ApiVersion"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Postman collection."
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/404"
          }
        }
      }
    },
    "/apis/{id}/oas/{version}": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "description": "Unique identifier of the resource.",
          "schema": {
            "type": "string"
          }
        },
        {
          "name": "version",
          "in": "path",
          "required": true,
          "description": "OAS version and format, e.g. 3.0.json or 3.1.yaml.",
          "schema": {
            "type": "string",
            "example": "3.0.json"
          }
        }
      ],
      "get": {
        "security": [
          {},
          {
            "apiKey": []
          },
          {
            "clientCredentials": [
              "apis:read"
            ]
          }
        ],
        "tags": [
          "Public endpoints",
          "APIs"
        ],
        "summary": "Download OAS document",
        "description": "Returns the OAS 3.0 or 3.1 specification in JSON or YAML.",
        "operationId": "getOasVersion",
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "API-Version": {
                "$ref": "#/components/headers/ApiVersion"
              },
              "OAS-Version": {
                "description": "Returned OAS version (e.g. 3.0 or 3.1).",
                "schema": {
                  "type": "string",
                  "example": "3.1"
                }
              },
              "OAS-Source": {
                "description": "Source of the OAS document.",
                "schema": {
                  "type": "string",
                  "example": "repository"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "OpenAPI document in JSON format."
                }
              },
              "application/yaml": {
                "schema": {
                  "type": "string",
                  "description": "OpenAPI document in YAML format."
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "404": {
            "$ref": "#/components/responses/404"
          }
        }
      }
    },
    "/openapi.json": {
      "get": {
        "security": [
          {}
        ],
        "tags": [
          "Public endpoints",
          "APIs"
        ],
        "summary": "OpenAPI documentation",
        "description": "Download the OpenAPI specification for this API.",
        "operationId": "getOpenApiSpecification",
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "API-Version": {
                "$ref": "#/components/headers/ApiVersion"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "OpenAPI 3 specification for the API."
                }
              }
            }
          }
        }
      }
    },
    "/organisations": {
      "get": {
        "security": [
          {},
          {
            "apiKey": []
          },
          {
            "clientCredentials": [
              "organisations:read"
            ]
          }
        ],
        "tags": [
          "Public endpoints",
          "Organisations"
        ],
        "summary": "List organisations",
        "description": "Returns a list of organisations included in the register.",
        "operationId": "listOrganisations",
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "API-Version": {
                "$ref": "#/components/headers/ApiVersion"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/OrganisationSummary"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "security": [
          {},
          {
            "apiKey": []
          },
          {
            "clientCredentials": [
              "organisations:write"
            ]
          }
        ],
        "tags": [
          "Private endpoints",
          "Organisations"
        ],
        "summary": "Create organisation",
        "description": "Create a new organisation.",
        "operationId": "createOrganisation",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OrganisationSummary"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "headers": {
              "API-Version": {
                "$ref": "#/components/headers/ApiVersion"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "title": "Organisation",
                  "description": "An organisation from the catalog",
                  "type": "object",
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/OrganisationSummary"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          }
        }
      }
    }
  },
  "components": {
    "headers": {
      "ApiVersion": {
        "description": "Semver of this API",
        "schema": {
          "type": "string",
          "example": "1.0.0",
          "pattern": "^(0|[1-9]\\d*)\\.(0|[1-9]\\d*)\\.(0|[1-9]\\d*)(?:-((?:0|[1-9]\\d*|\\d*[a-zA-Z-][0-9a-zA-Z-]*)(?:\\.(?:0|[1-9]\\d*|\\d*[a-zA-Z-][0-9a-zA-Z-]*))*))?(?:\\+([0-9a-zA-Z-]+(?:\\.[0-9a-zA-Z-]+)*))?$",
          "externalDocs": {
            "description": " /core/version-header: Return the full version number in a response header",
            "url": "https://logius-standaarden.github.io/API-Design-Rules/#/core/version-header"
          }
        }
      },
      "Link": {
        "description": "Links to the previous, next, last or first pages",
        "schema": {
          "type": "string",
          "example": "<https://api.developer.overheid.nl/api-register/v1/apis?page=2>; rel='prev', <https://api.developer.overheid.nl/api-register/v1/apis?page=3>; rel='next'",
          "externalDocs": {
            "description": "W3C reference",
            "url": "https://www.w3.org/wiki/LinkHeader"
          }
        }
      },
      "TotalCount": {
        "description": "Total number of items available",
        "schema": {
          "type": "integer",
          "example": 124
        }
      },
      "CurrentPage": {
        "description": "Current page number",
        "schema": {
          "type": "integer",
          "example": 1
        }
      },
      "PerPage": {
        "description": "Number of items per page",
        "schema": {
          "type": "integer",
          "example": 10
        }
      },
      "TotalPages": {
        "description": "Total number of pages available",
        "schema": {
          "type": "integer",
          "example": 13
        }
      }
    },
    "parameters": {
      "Page": {
        "name": "page",
        "in": "query",
        "required": false,
        "description": "Page number (1-based).",
        "schema": {
          "type": "integer",
          "minimum": 1,
          "default": 1
        }
      },
      "PerPage": {
        "name": "perPage",
        "in": "query",
        "required": false,
        "description": "Number of results per page.",
        "schema": {
          "type": "integer",
          "minimum": 1,
          "maximum": 100,
          "default": 20
        }
      },
      "Organisation": {
        "name": "organisation",
        "in": "query",
        "required": false,
        "description": "Filter on organisation URI.",
        "schema": {
          "type": "string",
          "format": "uri"
        }
      }
    },
    "schemas": {
      "Contact": {
        "title": "Contact",
        "description": "Contact details",
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "format": "email",
            "description": "The email address of the contact",
            "examples": [
              "developer.overheid@geonovum.nl"
            ]
          },
          "name": {
            "type": "string",
            "description": "The name of the contact",
            "examples": [
              "Developer Overheid"
            ]
          },
          "url": {
            "type": "string",
            "format": "uri",
            "description": "The URL of the contact",
            "examples": [
              "https://developer.overheid.nl"
            ]
          }
        },
        "required": [
          "email",
          "name",
          "url"
        ]
      },
      "OrganisationSummary": {
        "title": "Organisation summary",
        "description": "An organisation from the catalog",
        "type": "object",
        "properties": {
          "uri": {
            "title": "Organisation URI",
            "description": "The unique identifier for an organisation",
            "type": "string",
            "format": "uri",
            "examples": [
              "https://developer.overheid.nl"
            ]
          },
          "label": {
            "description": "The label of the organisation",
            "type": "string",
            "examples": [
              "developer.overheid.nl"
            ]
          }
        },
        "required": [
          "uri",
          "label"
        ]
      },
      "Lifecycle": {
        "title": "Lifecycle",
        "description": "The lifecycle status of the API",
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "description": "The lifecycle status",
            "enum": [
              "active",
              "deprecated",
              "sunset",
              "retired"
            ],
            "examples": [
              "deprecated",
              "sunset",
              "retired"
            ]
          },
          "version": {
            "type": "string",
            "description": "The version of the API",
            "examples": [
              "1.0.0"
            ]
          },
          "deprecated": {
            "type": "string",
            "format": "date",
            "description": "The date from which the API is or will be deprecated.",
            "examples": [
              "2025-10-10"
            ]
          },
          "sunset": {
            "type": "string",
            "format": "date",
            "description": "The date on which the API will be taken offline.",
            "examples": [
              "2027-11-11"
            ]
          }
        },
        "required": [
          "status",
          "version"
        ]
      },
      "Server": {
        "type": "object",
        "properties": {
          "url": {
            "type": "string",
            "format": "uri",
            "description": "The URL of the server",
            "examples": [
              "https://api.developer.overheid.nl/api-register/v1"
            ]
          },
          "description": {
            "type": "string",
            "description": "A description of the server",
            "examples": [
              "Production server"
            ]
          }
        },
        "required": [
          "url",
          "description"
        ]
      },
      "ApiSummary": {
        "title": "API",
        "description": "An API from the catalog",
        "type": "object",
        "properties": {
          "id": {
            "description": "The unique identifier for an API",
            "type": "string",
            "readOnly": true,
            "examples": [
              "dicF0B3HR"
            ]
          },
          "contact": {
            "$ref": "#/components/schemas/Contact"
          },
          "title": {
            "description": "The title of the API",
            "type": "string",
            "examples": [
              "API register API v1"
            ]
          },
          "description": {
            "description": "The description of the API",
            "type": "string",
            "examples": [
              "This is version 1 of the API register. This description can also contain Markdown."
            ]
          },
          "organisation": {
            "$ref": "#/components/schemas/OrganisationSummary"
          },
          "adrScore": {
            "description": "The ADR score of the API",
            "type": [
              "number",
              "null"
            ],
            "minimum": 0,
            "maximum": 100,
            "examples": [
              85
            ]
          },
          "lifecycle": {
            "$ref": "#/components/schemas/Lifecycle"
          }
        },
        "required": [
          "id",
          "contact",
          "title",
          "description",
          "organisation",
          "adrScore",
          "lifecycle"
        ]
      },
      "ApiDetail": {
        "title": "API",
        "description": "An API from the catalog",
        "type": "object",
        "allOf": [
          {
            "$ref": "#/components/schemas/ApiSummary"
          },
          {
            "type": "object",
            "properties": {
              "oasUrl": {
                "description": "The URL of the OAS document",
                "type": [
                  "string",
                  "null"
                ],
                "format": "uri",
                "examples": [
                  "https://api.developer.overheid.nl/api-register/v1/openapi.json"
                ]
              },
              "auth": {
                "type": "array",
                "description": "The authentication methods supported by the API",
                "items": {
                  "type": "string",
                  "examples": [
                    "OAuth2",
                    "API Key"
                  ]
                }
              },
              "docsUrl": {
                "type": [
                  "string",
                  "null"
                ],
                "description": "The URL to the documentation of the API",
                "format": "uri",
                "examples": [
                  "https://developer.overheid.nl/kennisbank/"
                ]
              },
              "servers": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Server"
                }
              }
            },
            "required": [
              "oasUrl",
              "auth",
              "docsUrl",
              "servers"
            ]
          }
        ]
      },
      "ApiInput": {
        "title": "API Input",
        "description": "Input for registering an API from its OpenAPI or Arazzo document",
        "type": "object",
        "properties": {
          "oasUrl": {
            "title": "OAS Url",
            "description": "The URL of the OAS document",
            "type": "string",
            "format": "uri",
            "examples": [
              "https://api.developer.overheid.nl/api-register/v1/openapi.json"
            ]
          },
          "oasBody": {
            "title": "OAS Body",
            "description": "The inline OAS document in JSON or YAML format",
            "type": "string"
          },
          "arazzoUrl": {
            "title": "Arazzo Url",
            "description": "The URL of the Arazzo document",
            "type": "string",
            "format": "uri"
          },
          "arazzoBody": {
            "title": "Arazzo Body",
            "description": "The inline Arazzo document in JSON or YAML format",
            "type": "string"
          },
          "organisationUri": {
            "title": "Organisation URI",
            "description": "The unique identifier for an organisation",
            "type": "string",
            "format": "uri",
            "examples": [
              "https://developer.overheid.nl"
            ]
          },
          "contact": {
            "$ref": "#/components/schemas/Contact"
          }
        },
        "anyOf": [
          {
            "required": [
              "oasUrl"
            ]
          },
          {
            "required": [
              "oasBody"
            ]
          }
        ],
        "required": [
          "organisationUri"
        ]
      },
      "ApiUpdateInput": {
        "title": "API Update Input",
        "description": "Input for updating an API from its OpenAPI document or by overriding lifecycle dates",
        "type": "object",
        "properties": {
          "oasUrl": {
            "title": "OAS Url",
            "description": "The URL of the OAS document",
            "type": "string",
            "format": "uri",
            "examples": [
              "https://api.developer.overheid.nl/api-register/v1/openapi.json"
            ]
          },
          "oasBody": {
            "title": "OAS Body",
            "description": "The inline OAS document in JSON or YAML format",
            "type": "string"
          },
          "arazzoUrl": {
            "title": "Arazzo Url",
            "description": "The URL of the Arazzo document",
            "type": "string",
            "format": "uri"
          },
          "arazzoBody": {
            "title": "Arazzo Body",
            "description": "The inline Arazzo document in JSON or YAML format",
            "type": "string"
          },
          "organisationUri": {
            "title": "Organisation URI",
            "description": "The unique identifier for an organisation",
            "type": "string",
            "format": "uri",
            "examples": [
              "https://developer.overheid.nl"
            ]
          },
          "contact": {
            "$ref": "#/components/schemas/Contact"
          },
          "sunset": {
            "type": "string",
            "pattern": "^$|^[0-9]{4}-[0-9]{2}-[0-9]{2}$",
            "description": "Manual override for the sunset date (YYYY-MM-DD). Send an empty string to clear the value.",
            "examples": [
              "2027-11-11",
              ""
            ]
          },
          "deprecated": {
            "type": "string",
            "pattern": "^$|^[0-9]{4}-[0-9]{2}-[0-9]{2}$",
            "description": "Manual override for the deprecated date (YYYY-MM-DD). Send an empty string to clear the value.",
            "examples": [
              "2025-10-10",
              ""
            ]
          }
        },
        "anyOf": [
          {
            "required": [
              "oasUrl"
            ]
          },
          {
            "required": [
              "oasBody"
            ]
          },
          {
            "required": [
              "sunset"
            ]
          },
          {
            "required": [
              "deprecated"
            ]
          }
        ],
        "required": [
          "organisationUri"
        ]
      },
      "ProblemJson": {
        "title": "Problem JSON",
        "description": "Problem JSON schema representing errors and status code",
        "type": "object",
        "properties": {
          "status": {
            "type": "integer",
            "description": "The HTTP status code generated by the origin server for this occurrence of the problem",
            "example": 400
          },
          "title": {
            "type": "string",
            "description": "A short, human-readable summary of the problem type",
            "example": "Request validation failed"
          },
          "errors": {
            "type": "array",
            "items": {
              "type": "object",
              "description": "List of errors encountered during processing",
              "properties": {
                "in": {
                  "type": "string",
                  "description": "Location of the error (e.g., body, query, header)",
                  "enum": [
                    "body",
                    "query"
                  ]
                },
                "location": {
                  "type": "string",
                  "description": "Location in the document where the error occurred (JSON Pointer)",
                  "example": "#/foo[0]/bar"
                },
                "code": {
                  "type": "string",
                  "description": "A code representing the type of error",
                  "example": "date.format"
                },
                "detail": {
                  "type": "string",
                  "description": "A detailed message describing the error",
                  "example": "must be ISO 8601"
                }
              },
              "required": [
                "in",
                "location",
                "code",
                "detail"
              ]
            }
          }
        },
        "required": [
          "status",
          "title"
        ]
      }
    },
    "responses": {
      "400": {
        "description": "Bad request",
        "headers": {
          "API-Version": {
            "$ref": "#/components/headers/ApiVersion"
          }
        },
        "content": {
          "application/problem+json": {
            "schema": {
              "$ref": "#/components/schemas/ProblemJson"
            }
          }
        }
      },
      "404": {
        "description": "Resource does not exist",
        "headers": {
          "API-Version": {
            "$ref": "#/components/headers/ApiVersion"
          }
        },
        "content": {
          "application/problem+json": {
            "schema": {
              "$ref": "#/components/schemas/ProblemJson"
            }
          }
        }
      }
    },
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "name": "X-Api-Key",
        "in": "header",
        "description": "Read-only API keys for public endpoints can be requested at https://apis.developer.overheid.nl/apis/key-aanvragen."
      },
      "clientCredentials": {
        "type": "oauth2",
        "flows": {
          "clientCredentials": {
            "scopes": {
              "apis:read": "Read access to APIs",
              "apis:write": "Write access to APIs",
              "organisations:read": "Read access to organisations",
              "organisations:write": "Write access to organisations",
              "tools": "Access to tools"
            },
            "tokenUrl": "https://auth.developer.overheid.nl/realms/don/protocol/openid-connect/token"
          }
        }
      }
    }
  }
}
